@model RobsDerbyCars.Models.Heat

@{
    ViewBag.Title = "Race a Heat";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Heat</h4>
        <hr />
           
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HeatID)
        @Html.HiddenFor(model => model.RaceID)
        @Html.HiddenFor(model => model.Division)
        @Html.HiddenFor(model => model.IsComplete)
        @Html.HiddenFor(model => model.FirstRacerID)
        @Html.HiddenFor(model => model.SecondRacerID)
        @Html.HiddenFor(model => model.FirstRacerName)
        @Html.HiddenFor(model => model.SecondRacerName)
        
        <table class="table" style="width:22%;border: 4px solid black;" border="1">
            <tr>
                <td colspan="2">
                    Mark the Winner.
                </td>
            </tr>
            <tr class="form-horizontal">
                <td class="form-group">
                    @Html.DisplayFor(modelItem => Model.FirstRacerName)
                </td>
                <td class="form-group">
                    @Html.EditorFor(model => Model.FirstRacerIsWinner, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr class="form-horizontal">
                <td class="form-group">
                    @Html.DisplayFor(modelItem => Model.SecondRacerName)
                </td>
                <td class="form-group">
                    @Html.EditorFor(model => Model.SecondRacerIsWinner, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
              
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
       









        @*<div class="form-group">
                @Html.LabelFor(model => model.FirstRacerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstRacerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstRacerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondRacerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecondRacerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SecondRacerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstRacerIsWinner, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.FirstRacerIsWinner)
                        @Html.ValidationMessageFor(model => model.FirstRacerIsWinner, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsComplete, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsComplete)
                        @Html.ValidationMessageFor(model => model.IsComplete, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
